* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img,
picture {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
  border-radius: 0;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-medium.ttf") format("Truetype"), url("../fonts/Roboto-medium.woff") format("woff"), url("../fonts/Roboto-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Pontano;
  font-display: swap;
  src: url("../fonts/PontanoSans-regular.ttf") format("Truetype"), url("../fonts/PontanoSans-regular.woff") format("woff"), url("../fonts/PontanoSans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #fff;
  font-family: Pontano;
  color: #fff;
  font-size: 14px;
  background: rgb(4, 5, 13);
  background: -moz-radial-gradient(circle, rgb(4, 5, 13) 0%, rgb(9, 13, 26) 100%);
  background: -webkit-radial-gradient(circle, rgb(4, 5, 13) 0%, rgb(9, 13, 26) 100%);
  background: radial-gradient(circle, rgb(4, 5, 13) 0%, rgb(9, 13, 26) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#04050d",endColorstr="#090d1a",GradientType=1);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
}

._container {
  padding: 0px 15px;
  margin: 0px auto;
  width: 100%;
  max-width: 1400px;
}

.header {
  border-bottom: 3px solid #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  transition: border-color 0.3s ease 0s, background 0.3s ease 0s;
  background: rgba(75, 75, 75, 0.05);
  backdrop-filter: blur(24px);
}
.header.burger-active {
  border-color: rgba(255, 255, 255, 0);
  background: none;
}
.header__body {
  /* if < container */
  padding: 37px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
@media (max-width: 1400px) {
  .header__body {
    padding: calc(12px + 25 * (100vw - 320px) / 1080) calc(0px + 0 * (100vw - 320px) / 1080);
  }
}
.header__logo picture:last-child {
  display: none;
}
.header__logo picture img {
  width: 100%;
}
.header__logo picture:first-child img {
  max-width: 250px;
}
.header__logo picture:last-child img {
  max-width: 40px;
}
@media (max-width: 800px) {
  .header__logo picture:first-child {
    display: none;
  }
  .header__logo picture:last-child {
    display: block;
  }
}
.header__menu {
  position: relative;
}
.header__burger-body {
  border-radius: 10px;
  border: 2px solid #fff;
  padding: 10px 7px;
  display: none;
}
@media (max-width: 800px) {
  .header__burger-body {
    display: block;
  }
}
.header__burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3px;
  height: 12px;
  width: 18px;
  position: relative;
}
.header__burger span {
  width: 18px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.3s ease 0s;
}
.header__burger span:first-child {
  top: 0;
  left: 0;
}
.header__burger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.header__burger span:last-child {
  bottom: 0;
  left: 0;
}
.header__burger.active span:first-child {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.header__burger.active span:nth-child(2) {
  opacity: 0;
}
.header__burger.active span:last-child {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
.header__nav {
  display: flex;
  column-gap: 10px;
}
@media (max-width: 800px) {
  .header__nav {
    background: rgb(4, 5, 13);
    background: -moz-radial-gradient(circle, rgb(4, 5, 13) 0%, rgb(9, 13, 26) 100%);
    background: -webkit-radial-gradient(circle, rgb(4, 5, 13) 0%, rgb(9, 13, 26) 100%);
    background: radial-gradient(circle, rgb(4, 5, 13) 0%, rgb(9, 13, 26) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#04050d",endColorstr="#090d1a",GradientType=1);
    position: absolute;
    top: -100vh;
    right: 0;
    flex-direction: column;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 12px 0;
    transition: opacity 0.3s ease 0s;
    opacity: 0;
    z-index: -10;
  }
  .header__nav.active {
    top: calc(100% + 16px);
    opacity: 1;
    z-index: 10;
  }
}
.header__link {
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  /* if < container */
  font-size: 24px;
  position: relative;
}
@media (max-width: 1400px) {
  .header__link {
    font-size: calc(18px + 6 * (100vw - 320px) / 1080);
  }
}
.header__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #599bff;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__link {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .header__link:hover:after {
    width: 100%;
  }
}
.header .select {
  position: relative;
  /* if < container */
  width: 222px;
}
@media (max-width: 1400px) {
  .header .select {
    width: calc(170px + 52 * (100vw - 320px) / 1080);
  }
}
@media (max-width: 992px) {
  .header .select {
    display: none;
  }
}
.header .select__value {
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 10px;
  cursor: pointer;
}
.header .select__value-text {
  /* if < container */
  font-size: 24px;
}
@media (max-width: 1400px) {
  .header .select__value-text {
    font-size: calc(18px + 6 * (100vw - 320px) / 1080);
  }
}
.header .select__arrow {
  transition: all 0.3s ease 0s;
}
.header .select__flag {
  width: 40px;
}
.header .select__options {
  position: absolute;
  left: 0;
  top: calc(100% + 16px);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 13px;
  font-size: 24px;
  opacity: 0;
  z-index: -10;
  background: rgb(4, 5, 13);
  background: -moz-radial-gradient(circle, rgb(4, 5, 13) 0%, rgb(9, 13, 26) 100%);
  background: -webkit-radial-gradient(circle, rgb(4, 5, 13) 0%, rgb(9, 13, 26) 100%);
  background: radial-gradient(circle, rgb(4, 5, 13) 0%, rgb(9, 13, 26) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#04050d",endColorstr="#090d1a",GradientType=1);
  transition: all 0.3s ease 0s;
  overflow: hidden;
  height: 0;
}
.header .select__option {
  white-space: nowrap;
  display: flex;
  align-items: center;
  /* if < container */
  padding: 10px 0px;
  column-gap: 10px;
  transition: all 0.3s ease 0s;
  /* if < container */
  font-size: 24px;
}
@media (max-width: 1400px) {
  .header .select__option {
    padding: calc(5px + 5 * (100vw - 320px) / 1080) calc(0px + 0 * (100vw - 320px) / 1080);
  }
}
@media (max-width: 1400px) {
  .header .select__option {
    font-size: calc(18px + 6 * (100vw - 320px) / 1080);
  }
}
@media (any-hover: hover) {
  .header .select__option {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .header .select__option:hover {
    color: #599bff;
  }
}
.header .select__option.active::after {
  content: url("../img/header/select.svg");
}
.header .select.active .select__arrow {
  transform: scaleY(-1);
}
.header .select.active .select__options {
  z-index: 10;
  opacity: 1;
  height: 240px;
}
.header__discuss {
  position: absolute;
  top: calc(100% + 40px);
  right: 15px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  align-self: flex-end;
  font-size: 20px;
  border: 2px solid #7d8488;
  border-radius: 100px;
  background: #fff;
  padding: 10px 0;
  padding-left: 16px;
  padding-right: 24px;
  font-size: 14px;
  font-weight: bold;
}
@media (any-hover: hover) {
  .header__discuss {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .header__discuss:hover {
    transform: scale(1.04);
  }
}
.header__discuss span {
  background: rgb(4, 5, 13);
  background: -moz-radial-gradient(circle, rgb(4, 5, 13) 0%, rgb(9, 13, 26) 100%);
  background: -webkit-radial-gradient(circle, rgb(4, 5, 13) 0%, rgb(9, 13, 26) 100%);
  background: radial-gradient(circle, rgb(4, 5, 13) 0%, rgb(9, 13, 26) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#04050d",endColorstr="#090d1a",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 992px) {
  .header__discuss {
    display: none;
  }
}

.header__backdrop {
  position: fixed;
  z-index: -5;
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(9.8px);
  transition: all 0.3s ease 0s;
}
.header__backdrop.active {
  z-index: 5;
  opacity: 1;
}

.footer {
  width: 100%;
}
.footer__body {
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 100px;
}
@media (max-width: 600px) {
  .footer__body {
    flex-direction: column;
  }
}
.footer__left {
  display: flex;
  align-items: center;
  /* if < container */
  column-gap: 23px;
}
@media (max-width: 1400px) {
  .footer__left {
    column-gap: calc(9px + 14 * (100vw - 320px) / 1080);
  }
}
.footer__logo {
  width: 100%;
  /* if < container */
  max-width: 80px;
}
@media (max-width: 1400px) {
  .footer__logo {
    max-width: calc(35px + 45 * (100vw - 320px) / 1080);
  }
}
.footer__rights {
  /* if < container */
  font-size: 20px;
  /* if < container */
  line-height: 23px;
}
@media (max-width: 1400px) {
  .footer__rights {
    font-size: calc(15px + 5 * (100vw - 320px) / 1080);
  }
}
@media (max-width: 1400px) {
  .footer__rights {
    line-height: calc(18px + 5 * (100vw - 320px) / 1080);
  }
}
.footer__email {
  /* if < container */
  font-size: 20px;
}
@media (max-width: 1400px) {
  .footer__email {
    font-size: calc(15px + 5 * (100vw - 320px) / 1080);
  }
}
.footer__email a {
  color: #599bff;
  position: relative;
}
.footer__email a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 1px;
  background: #599bff;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .footer__email a {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .footer__email a:hover:before {
    width: 100%;
  }
}

.home__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__title {
  /* if < container */
  font-size: 36px;
  /* if < container */
  margin-top: 95px;
  /* if < container */
  margin-bottom: 25px;
}
@media (max-width: 1400px) {
  .home__title {
    font-size: calc(14px + 22 * (100vw - 320px) / 1080);
  }
}
@media (max-width: 1400px) {
  .home__title {
    margin-top: calc(50px + 45 * (100vw - 320px) / 1080);
  }
}
@media (max-width: 1400px) {
  .home__title {
    margin-bottom: calc(13px + 12 * (100vw - 320px) / 1080);
  }
}
.home__texts {
  width: 100%;
  max-width: 877px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* if < container */
  font-size: 20px;
  /* if < container */
  row-gap: 44px;
  /* if < container */
  line-height: 26px;
}
@media (max-width: 1400px) {
  .home__texts {
    font-size: calc(10px + 10 * (100vw - 320px) / 1080);
  }
}
@media (max-width: 1400px) {
  .home__texts {
    row-gap: calc(22px + 22 * (100vw - 320px) / 1080);
  }
}
@media (max-width: 1400px) {
  .home__texts {
    line-height: calc(14px + 12 * (100vw - 320px) / 1080);
  }
}
.home__experiences {
  display: flex;
  width: 100%;
  padding: 28px 0;
  /* if < container */
  column-gap: 28px;
  /* if < container */
  margin-top: 185px;
  row-gap: 25px;
}
@media (max-width: 1400px) {
  .home__experiences {
    column-gap: calc(20px + 8 * (100vw - 320px) / 1080);
  }
}
@media (max-width: 1400px) {
  .home__experiences {
    margin-top: calc(83px + 102 * (100vw - 320px) / 1080);
  }
}
@media (max-width: 992px) {
  .home__experiences {
    flex-direction: column;
  }
}
.home__experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #fff;
  border-width: 2px 0 0 2px;
  width: 100%;
  row-gap: 4px;
  padding: 13px 6px;
}
.home__experience-value {
  /* if < container */
  font-size: 48px;
}
@media (max-width: 1400px) {
  .home__experience-value {
    font-size: calc(19px + 29 * (100vw - 320px) / 1080);
  }
}
.home__experience-title {
  /* if < container */
  font-size: 22px;
  color: #7d8488;
  text-align: center;
}
@media (max-width: 1400px) {
  .home__experience-title {
    font-size: calc(10px + 12 * (100vw - 320px) / 1080);
  }
}
.home__experience:nth-child(even) {
  transform: translateY(25%);
}
.home__experience:nth-child(odd) {
  transform: translateY(-25%);
}
@media (max-width: 992px) {
  .home__experience:nth-child(even), .home__experience:nth-child(odd) {
    transform: none;
  }
}

.who-we__body {
  display: flex;
  justify-content: center;
}
.who-we__main {
  position: relative;
  width: 100%;
  max-width: 816px;
  border-left: 2px solid #fff;
  /* if < container */
  padding: 55px;
}
@media (max-width: 1400px) {
  .who-we__main {
    padding: calc(15px + 40 * (100vw - 320px) / 1080);
  }
}
.who-we__main:before {
  content: "";
  width: 100%;
  max-width: 290px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.who-we__main:after {
  content: "";
  width: 100%;
  max-width: 600px;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 600px) {
  .who-we__main::before, .who-we__main::after {
    max-width: 100%;
  }
}
.who-we__title {
  /* if < container */
  font-size: 48px;
  font-family: Roboto;
  font-weight: medium;
  /* if < container */
  margin-bottom: 20px;
}
@media (max-width: 1400px) {
  .who-we__title {
    font-size: calc(22px + 26 * (100vw - 320px) / 1080);
  }
}
@media (max-width: 1400px) {
  .who-we__title {
    margin-bottom: calc(5px + 15 * (100vw - 320px) / 1080);
  }
}
.who-we__texts {
  display: flex;
  flex-direction: column;
  /* if < container */
  row-gap: 26px;
}
@media (max-width: 1400px) {
  .who-we__texts {
    row-gap: calc(17px + 9 * (100vw - 320px) / 1080);
  }
}
.who-we__text {
  /* if < container */
  font-size: 20px;
  /* if < container */
  line-height: 26px;
}
@media (max-width: 1400px) {
  .who-we__text {
    font-size: calc(13px + 7 * (100vw - 320px) / 1080);
  }
}
@media (max-width: 1400px) {
  .who-we__text {
    line-height: calc(17px + 9 * (100vw - 320px) / 1080);
  }
}

.technologies__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.technologies__title {
  /* if < container */
  font-size: 48px;
  text-align: center;
  /* if < container */
  margin-bottom: 66px;
  font-family: Roboto;
  font-weight: bold;
}
@media (max-width: 1400px) {
  .technologies__title {
    font-size: calc(22px + 26 * (100vw - 320px) / 1080);
  }
}
@media (max-width: 1400px) {
  .technologies__title {
    margin-bottom: calc(21px + 45 * (100vw - 320px) / 1080);
  }
}
.technologies__list {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  /* if < container */
  column-gap: 50px;
  /* if < container */
  row-gap: 50px;
  transition: all 1s linear 0s;
}
@media (max-width: 1400px) {
  .technologies__list {
    column-gap: calc(15px + 35 * (100vw - 320px) / 1080);
  }
}
@media (max-width: 1400px) {
  .technologies__list {
    row-gap: calc(15px + 35 * (100vw - 320px) / 1080);
  }
}
.technologies__list.table {
  flex-wrap: wrap;
  width: auto;
}
.technologies__item {
  width: 80px;
}

.contact.section {
  justify-content: space-between;
  /* if < container */
  padding-top: 157px;
}
@media (max-width: 1400px) {
  .contact.section {
    padding-top: calc(115px + 42 * (100vw - 320px) / 1080);
  }
}
.contact__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__title {
  /* if < container */
  font-size: 48px;
  margin-bottom: 15px;
  font-family: Roboto;
  font-weight: bold;
}
@media (max-width: 1400px) {
  .contact__title {
    font-size: calc(22px + 26 * (100vw - 320px) / 1080);
  }
}
.contact__text {
  /* if < container */
  font-size: 20px;
  text-align: center;
}
@media (max-width: 1400px) {
  .contact__text {
    font-size: calc(13px + 7 * (100vw - 320px) / 1080);
  }
}
.contact__form {
  /* if < container */
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  max-width: 700px;
}
@media (max-width: 1400px) {
  .contact__form {
    margin-top: calc(19px + 5 * (100vw - 320px) / 1080);
  }
}
.contact__field {
  display: flex;
  align-items: center;
  padding: 8px 4px;
  padding-left: 16px;
  border-radius: 8px;
  border: 1px solid #fff;
  background: rgb(4, 5, 13);
  background: -moz-radial-gradient(circle, rgb(4, 5, 13) 0%, rgb(9, 13, 26) 100%);
  background: -webkit-radial-gradient(circle, rgb(4, 5, 13) 0%, rgb(9, 13, 26) 100%);
  background: radial-gradient(circle, rgb(4, 5, 13) 0%, rgb(9, 13, 26) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#04050d",endColorstr="#090d1a",GradientType=1);
  transition: all 0.3s ease 0s;
}
.contact__field input, .contact__field textarea {
  width: 100%;
  font-size: 16px;
  background: transparent;
  color: #fff;
}
.contact__field textarea {
  padding-right: 10px;
  resize: vertical;
}
.contact__submit {
  font-size: 16px;
  padding: 12px 0;
  border-radius: 8px;
  background: #7d8488;
  color: #fff;
}
@media (any-hover: hover) {
  .contact__submit {
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .contact__submit:hover {
    transform: scale(1.03);
  }
}

.page {
  flex: 1 1 auto;
}

.blue-text {
  color: #599bff;
}

.section {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

._lock-scroll {
  overflow: hidden;
}