//< " ФАЙЛ СТИЛЕЙ ФУТЕРА " >=============================================================================================================>//
.footer {
  width: 100%;
  @include bg();
  margin-bottom: 30px;

  &__body {
    border: 2px solid $colorWhite;
    border-radius: 20px;
    padding: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 100px;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    @include adaptiv-value("column-gap", 23, 9, 1);
  }

  &__logo {
    width: 100%;
    @include adaptiv-value(max-width, 80, 35, 1);
  }
  &__rights {
    @include adaptiv-value(font-size, 20, 15, 1);
    @include adaptiv-value(line-height, 23, 18, 1);
  }

  &__email {
    @include adaptiv-value(font-size, 20, 15, 1);
    & a {
      color: $colorBlue;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0%;
        height: 1px;
        background: $colorBlue;
        transition: all 0.3s ease 0s;
      }

      @media (any-hover: hover) {
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover {
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}
