.home {
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include adaptiv-value(font-size, 36, 14, 1);
    @include adaptiv-value(margin-top, 95, 50, 1);
    @include adaptiv-value(margin-bottom, 25, 13, 1);
  }

  &__texts {
    width: 100%;
    max-width: 877px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include adaptiv-value(font-size, 20, 10, 1);
    @include adaptiv-value(row-gap, 44, 22, 1);
    @include adaptiv-value(line-height, 26, 14, 1);
  }

  &__experiences {
    display: flex;
    width: 100%;
    padding: 28px 0;
    @include adaptiv-value(column-gap, 28, 20, 1);
    @include adaptiv-value(margin-top, 185, 83, 1);
    row-gap: 25px;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
  &__experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $colorWhite;
    border-width: 2px 0 0 2px;
    width: 100%;
    row-gap: 4px;

    padding: 13px 6px;
    &-value {
      @include adaptiv-value(font-size, 48, 19, 1);
    }
    &-title {
      @include adaptiv-value(font-size, 22, 10, 1);
      color: $colorGray;
      text-align: center;
    }

    &:nth-child(even) {
      transform: translateY(25%);
    }
    &:nth-child(odd) {
      transform: translateY(-25%);
    }

    @media (max-width: 992px) {
      &:nth-child(even),
      &:nth-child(odd) {
        transform: none;
      }
    }
  }
}
