@font-face {
  font-family: Roboto;
  font-display: swap;
  src:
    url("../fonts/Roboto-medium.ttf") format("Truetype"),
    url("../fonts/Roboto-medium.woff") format("woff"),
    url("../fonts/Roboto-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Pontano;
  font-display: swap;
  src:
    url("../fonts/PontanoSans-regular.ttf") format("Truetype"),
    url("../fonts/PontanoSans-regular.woff") format("woff"),
    url("../fonts/PontanoSans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
