//< " ПЕРЕМЕННЫЕ " >=============================================================================================================>//

// ОБЩИЕ НАСТРОЙКИ СТРАНИЦЫ
$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1400;
$containerPadding: 30;

// ЦВЕТА
$colorWhite: #fff;
$colorDark: #222;
$colorBlue: #599bff;
$colorGray: #7d8488;

// СТАНДАРТНЫЕ НАСТРОЙКИ СТРАНИЦЫ
$colorBg: #fff;
$fontRoboto: Roboto;
$fontPontanoSans: Pontano;
