<div class="contact section">
  <div class="contact__wrapper">
    <div class="contact__container _container">
      <div class="contact__body">
        <h2 class="contact__title blue-text">Contact us</h2>
        <p class="contact__text">
          Do you have questions or want to place an order?
          We will be happy to talk to you.
        </p>

        <form action="#" class="contact__form">

          <div class="contact__field">
            <input type="text" class="contact__input" placeholder="Name">
          </div>

          <div class="contact__field">
            <input type="text" class="contact__input" placeholder="Email, Discord or Telegram">
          </div>

          <div class="contact__field">
            <input type="text" class="contact__input" placeholder="ToR document (optional)">
            <img src="./img/contact/plus.svg" alt="">
          </div>

          <div class="contact__field">
            <textarea rows="4" type="text" class="contact__input"
              placeholder="Enter anything you want to share in this field so we can learn more about your project"></textarea>
          </div>

          <button class="contact__submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
  @@include("./footer.html")
</div>