<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__container _container">
      <div class="footer__body">
        <div class="footer__left">
          <img src="./img/footer/logo.png" alt="" class="footer__logo">

          <div class="footer__rights">
            © 2024 Company name <br>
            All rights reserved.
          </div>
        </div>

        <div class="footer__right">
          <div class="footer__email">
            Email: <a href="mailto:companyname@template.com">companyname@template.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>