<div class="home section">
  <div class="home__wrapper">
    <div class="home__container _container">
      <div class="home__body">
        <h1 class="home__title">WE BRING YOUR <span class="blue-text">IDEAS</span> TO THE DIGITAL WORD</h1>
        <div class="home__texts">
          <p class="home__text">
            Lorem ipsum odor amet, consectetuer adipiscing elit.
            Ex ornare nisl dapibus cubilia condimentum cras. Praesent parturient dapibus nullam integer adipiscing
            litora habitant.</p>
          <p class="home__text">
            Accumsan vulputate facilisi iaculis consectetur magnis inceptos posuere.
          </p>
        </div>

        <div class="home__experiences">
          <div class="home__experience">
            <div class="home__experience-value">99</div>
            <h3 class="home__experience-title">
              Years in the development field
            </h3>
          </div>
          <div class="home__experience">
            <div class="home__experience-value">99+</div>
            <h3 class="home__experience-title">
              Finished projects
            </h3>
          </div>
          <div class="home__experience">
            <div class="home__experience-value">99</div>
            <h3 class="home__experience-title">
              Programming languages and frameworks
            </h3>
          </div>
          <div class="home__experience">
            <div class="home__experience-value">99</div>
            <h3 class="home__experience-title">
              Long-term projects in progress
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>