<div class="who-we section">
  <div class="who-we__wrapper">
    <div class="who-we__container _container">
      <div class="who-we__body">
        <div class="who-we__main">
          <h2 class="who-we__title"><span class="blue-text">Who</span> we are?</h2>
          <div class="who-we__texts">
            <p class="who-we__text">Lorem ipsum dolor sit amet, eos veri quodsi sententiae ea. Ut eum mazim repudiandae
              complectitur, est cu prima altera, agam instructior te eos. Cum volumus probatus ex, quis accumsan vim ei.
              Qui quot veri pertinax cu, voluptua torquatos et vis, autem timeam ex per. Pro ea eripuit fabulas
              consequuntur, ut vix facer option accusamus.</p>

            <p class="who-we__text"> Ius ea putant omnium invenire. Purto suscipiantur conclusionemque pri no, nec cu
              integre placerat. Nulla
              minim ludus ei mei. An vitae aliquam scripserit sed, vim id graece diceret splendide. No mei facilis
              dissentias, cu probo eripuit consetetur his.</p>

            <p class="who-we__text">Te erat praesent mel, te ancillae scriptorem cum. Simul erroribus duo cu, in noster
              equidem assueverit pri. Fugit putent gloriatur at vel, an quo sententiae posidonium adversarium. Cu
              fastidii
              nominati laboramus sed, dicat eleifend ad quo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>